@model UKServiceProviderRecruiter.HotelRequestCandidate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hotel Request Candidate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HotelRequest.HoursNeeded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelRequest.HoursNeeded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Candidate.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Candidate.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HotelRequestCandidateID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
