@model UKServiceProviderRecruiter.CandidateContractInvoice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CandidateContractInvoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CandidateContractID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandidateContractID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandidateInvoice.PaymentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandidateInvoice.PaymentMethod)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CCID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
